@import "theme";

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.content {
  max-width: 90rem;
  /*min-width: 320px;*/
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
  cursor: default;
}

.main-header {
  position: fixed;
  width: 100%;
  background-color: $color-light;
  box-shadow: 0 0 1.5rem 0 $secondary-color;
  font-size: 1rem;
  z-index: 50;
}

.main-header__brand {
  display: inline-block;
  margin: 0.5em 0 0.2em;
  vertical-align: middle;
}

.main-header__logo {
  max-height: 4em;
}

.main-header__name {
  display: inline-block;
  padding: 0 1rem;
  font-size: 2em;
  font-weight: 600;
  color: $highlight-color;
  vertical-align: middle;
}

.main-nav {
  position: relative;
  width: calc(100% - 22rem);
  display: inline-block;
  vertical-align: middle;
  text-align: right;
}

main {
  padding-top: 4.75rem;
  /*background: aqua;*/
}

.flags-list {
  background: $secondary-color;
}

@media (max-width: 900px) {
  .main-header__name {
    display: none;
  }
  .main-nav {
    width: calc(100% - 4rem);
  }
}

@media (max-width: 550px) {
  .main-header__logo {
    display: none;
  }
  .main-nav {
    width: 100%;
    padding: 1.6rem 0;
    text-align: center;
  }
}

@media (max-width: 420px) {
  .main-nav {
    width: 100%;
    padding: 1.5rem 0;
    text-align: center;
  }
}
